# SQL Query Execution

In [2]:
import sqlite3
import pandas as pd
import numpy as np

# Connect to the database
conn = sqlite3.connect("zomato.db")

# Load the dataset into a Pandas DataFrame
df = pd.read_sql("SELECT * FROM zomato_cleaned;", conn)

# View table

In [4]:
import sqlite3
import pandas as pd

# Connect to SQLite
conn = sqlite3.connect("zomato.db")

# Check the first few rows
query = "SELECT * FROM zomato_cleaned LIMIT 5;"
df_check = pd.read_sql(query, conn)
print(df_check)

# Close connection
conn.close()

                    name  online_order  book_table  rate  votes      location  \
0                  Jalsa             1           1   4.1    775  Banashankari
1         Spice Elephant             1           0   4.1    787  Banashankari
2        San Churro Cafe             1           0   3.8    918  Banashankari
3  Addhuri Udupi Bhojana             0           0   3.7     88  Banashankari
4          Grand Village             0           0   3.8    166  Basavanagudi

             rest_type                                         dish_liked  \
0        Casual Dining  Pasta, Lunch Buffet, Masala Papad, Paneer Laja...
1        Casual Dining  Momos, Lunch Buffet, Chocolate Nirvana, Thai G...
2  Cafe, Casual Dining  Churros, Cannelloni, Minestrone Soup, Hot Choc...
3          Quick Bites                                        Masala Dosa
4        Casual Dining                                Panipuri, Gol Gappe

                         cuisines  cost    type          city
0  North Indian, Mughlai, Chinese   800  Buffet  Banashankari
1     Chinese, North Indian, Thai   800  Buffet  Banashankari
2          Cafe, Mexican, Italian   800  Buffet  Banashankari
3      South Indian, North Indian   300  Buffet  Banashankari
4        North Indian, Rajasthani   600  Buffet  Banashankari

# Perform basis analysis using SQL

## Total restaurants count

In [7]:
# total restaurants count
conn = sqlite3.connect("zomato.db")
query = "SELECT COUNT(*) AS total_restaurants FROM zomato_cleaned;"
df_count = pd.read_sql(query, conn)
print(df_count)

   total_restaurants
0              51672

## Top 10 unique restaurants with highest ratings

In [9]:
# top 10 unique (without repeating) restaurants with highest ratings
conn = sqlite3.connect("zomato.db")
query = """
SELECT name, MAX(rate) AS rate, MAX(votes) AS votes
FROM zomato_cleaned
GROUP BY name
ORDER BY rate DESC, votes DESC
LIMIT 10;
"""
df_top_rated = pd.read_sql(query, conn)
print(df_top_rated)

                                                name  rate  votes
0                        Byg Brewski Brewing Company   4.9  16832
1                          AB's - Absolute Barbecues   4.9  12121
2                                           Flechazo   4.9   7154
3                     Asia Kitchen By Mainland China   4.9   2256
4                                   Milano Ice Cream   4.9   2090
5                                       Punjab Grill   4.9   1985
6                             Belgian Waffle Factory   4.9   1750
7  SantÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃ...   4.9    246
8                                    The Black Pearl   4.8  10550
9                                    Barbeque Nation   4.8   7270

## Top 10 restaurants with highest counts

In [11]:
# restaurant types
conn = sqlite3.connect("zomato.db")
query = """
SELECT rest_type, COUNT(*) AS total_restaurants 
FROM zomato_cleaned 
GROUP BY rest_type 
ORDER BY total_restaurants DESC 
LIMIT 10;
"""
df_rest_type = pd.read_sql(query, conn)
print(df_rest_type)

            rest_type  total_restaurants
0         Quick Bites              19129
1       Casual Dining              10326
2                Cafe               3732
3            Delivery               2595
4      Dessert Parlor               2262
5  Takeaway, Delivery               2035
6  Casual Dining, Bar               1154
7              Bakery               1141
8       Beverage Shop                865
9                 Bar                697

## Top 5 quick bites restaurants

In [13]:
# top 5 quick bites restaurants
conn = sqlite3.connect("zomato.db")
query = """
SELECT name, MAX(rate) AS rate, MAX(votes) AS votes  
FROM zomato_cleaned  
WHERE rest_type LIKE '%Quick Bites%'  
GROUP BY name  
ORDER BY rate DESC, votes DESC  
LIMIT 5;
"""
df_quick_bites = pd.read_sql(query, conn)
print(df_quick_bites)

                        name  rate  votes
0                        CTR   4.8   4421
1       Brahmin's Coffee Bar   4.8   2679
2               Taaza Thindi   4.7    651
3               Kurtoskalacs   4.7    342
4  Mavalli Tiffin Room (MTR)   4.5   2896

## Most popular quick bites restaurant

In [15]:
# top 5 quick bites restaurants
conn = sqlite3.connect("zomato.db")
query = """
SELECT name, location, COUNT(*) AS total_outlets  
FROM zomato_cleaned  
WHERE rest_type LIKE '%Quick Bites%'  
GROUP BY name, location  
ORDER BY name, total_outlets DESC;
"""
df_quick_bites_place = pd.read_sql(query, conn)
print(df_quick_bites_place)

                            name               location  total_outlets
0                   #FeelTheROLL              Bellandur              2
1                     #L-81 Cafe                    HSR              9
2         'Brahmins' Thatte Idli     Basaveshwara Nagar              1
3                       1000 B.C  Koramangala 5th Block              6
4     11 to 11 Express Biriyanis        Electronic City              2
...                          ...                    ...            ...
5311                     eat.fit             Whitefield              1
5312           iCloud Irany Cafe            Brookefield              5
5313           iSpice Resto Cafe            Indiranagar              4
5314                     nu.tree             Whitefield              4
5315                  repEAT Hub           Marathahalli              2

[5316 rows x 3 columns]

## Top 5 casual dining restaurants

In [17]:
# top 5 casual dining restaurants
conn = sqlite3.connect("zomato.db")
query = """
SELECT name, MAX(rate) AS rate, MAX(votes) AS votes  
FROM zomato_cleaned  
WHERE rest_type LIKE '%Casual Dining%'  
GROUP BY name  
ORDER BY rate DESC, votes DESC  
LIMIT 5;
"""
df_casual_dining = pd.read_sql(query, conn)
print(df_casual_dining)

                                                name  rate  votes
0                          AB's - Absolute Barbecues   4.9  12121
1                                           Flechazo   4.9   7154
2                     Asia Kitchen By Mainland China   4.9   2256
3                                       Punjab Grill   4.9   1985
4  SantÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃ...   4.9    246

## Most popular casual dining restaurant

In [19]:
# top 5 quick bites restaurants
conn = sqlite3.connect("zomato.db")
query = """
SELECT name, location, COUNT(*) AS total_outlets  
FROM zomato_cleaned  
WHERE rest_type LIKE '%Casual Dining%'  
GROUP BY name, location  
ORDER BY name, total_outlets DESC;
"""
df_quick_bites_place = pd.read_sql(query, conn)
print(df_quick_bites_place)

                                              name               location  \
0                                    #Vibes Restro        Electronic City
1             100ÃÂÃÂÃÂÃÂÃÂÃÂÃÂÃÂ°C                    BTM
2                               1131 Bar + Kitchen            Indiranagar
3                                    1441 Pizzeria               JP Nagar
4                                1722 Urban Bistro  Koramangala 5th Block
...                                            ...                    ...
2569                                        Zodiac             Whitefield
2570       Zodiac - Fortune Select JP Cosmos Hotel        Cunningham Road
2571                                         Zyara             HBR Layout
2572                                       nu.tree        Electronic City
2573  re:cess - Hilton Bangalore Embassy GolfLinks                 Domlur

      total_outlets
0                 3
1                 3
2                 6
3                 6
4                11
...             ...
2569              3
2570             17
2571              4
2572              1
2573              3

[2574 rows x 3 columns]

## Top 5 cafe restaurants

In [21]:
# top 5 cafe restaurants
conn = sqlite3.connect("zomato.db")
query = """
SELECT name, MAX(rate) AS rate, MAX(votes) AS votes  
FROM zomato_cleaned  
WHERE rest_type LIKE '%Cafe%'  
GROUP BY name  
ORDER BY rate DESC, votes DESC  
LIMIT 5;
"""
df_cafe = pd.read_sql(query, conn)
print(df_cafe)

                 name  rate  votes
0            Truffles   4.7  14726
1            Hammered   4.7   4845
2  ECHOES Koramangala   4.7   3220
3     Lot Like Crepes   4.7   1027
4              Onesta   4.6   9085

## Most popular cafe restaurant

In [23]:
# top 5 quick bites restaurants
conn = sqlite3.connect("zomato.db")
query = """
SELECT name, location, COUNT(*) AS total_outlets  
FROM zomato_cleaned  
WHERE rest_type LIKE '%Cafe%'  
GROUP BY name, location  
ORDER BY name, total_outlets DESC;
"""
df_quick_bites_place = pd.read_sql(query, conn)
print(df_quick_bites_place)

                                  name               location  total_outlets
0                              #refuel      Bannerghatta Road              3
1                   154 Breakfast Club  Koramangala 3rd Block             16
2                         18+ Ice Cafe           Kammanahalli              6
3                     1980s Games Cafe           Basavanagudi              5
4    24 Hours Coffee Drop - La Classic        Electronic City              2
..                                 ...                    ...            ...
697                           Yomama!!           Kammanahalli              6
698                          Zee5 Loft  Koramangala 6th Block             16
699                          Zee5 Loft                    HSR              4
700                             Zoey's          Sarjapur Road              4
701                  iSpice Resto Cafe            Indiranagar              3

[702 rows x 3 columns]

## Average cost for two people by city

In [25]:
# average cost for two people by city
conn = sqlite3.connect("zomato.db")
query = """
SELECT city, AVG(cost) AS avg_cost 
FROM zomato_cleaned 
GROUP BY city 
ORDER BY avg_cost DESC;
"""
df_avg_cost = pd.read_sql(query, conn)
print(df_avg_cost)

                     city    avg_cost
0           Church Street  770.361248
1            Brigade Road  766.676088
2                 MG Road  759.563536
3            Lavelle Road  751.353414
4          Residency Road  739.573457
5             Indiranagar  652.973118
6        Old Airport Road  605.842697
7              Whitefield  578.051948
8            Malleshwaram  574.630137
9             Frazer Town  557.569620
10              Bellandur  550.522023
11          Sarjapur Road  540.412371
12  Koramangala 4th Block  527.244236
13  Koramangala 5th Block  522.110837
14            Brookefield  521.340819
15  Koramangala 6th Block  520.183136
16  Koramangala 7th Block  519.553967
17           Marathahalli  497.877872
18        Electronic City  496.715566
19                    BTM  495.106467
20                    HSR  487.511494
21            Rajajinagar  485.395349
22           Kalyan Nagar  479.051988
23           Kammanahalli  470.082894
24              Jayanagar  468.814846
25               JP Nagar  459.756214
26           New BEL Road  456.418919
27      Bannerghatta Road  452.469059
28           Basavanagudi  445.101896
29           Banashankari  402.487209

## Distribution of ratings

In [27]:
# view ratings
conn = sqlite3.connect("zomato.db")
query = """
SELECT rate, COUNT(*) AS count  
FROM zomato_cleaned  
GROUP BY rate  
ORDER BY rate ASC;
"""
df_ratings = pd.read_sql(query, conn)
print(df_ratings)

    rate  count
0    1.8      5
1    2.0     11
2    2.1     24
3    2.2     26
4    2.3     51
5    2.4     70
6    2.5    101
7    2.6    260
8    2.7    307
9    2.8    600
10   2.9    802
11   3.0   1023
12   3.1   1561
13   3.2   1872
14   3.3   2306
15   3.4   2475
16   3.5   2784
17   3.6   3314
18   3.7  13837
19   3.8   3873
20   3.9   3972
21   4.0   3182
22   4.1   2948
23   4.2   2184
24   4.3   1693
25   4.4   1147
26   4.5    656
27   4.6    300
28   4.7    167
29   4.8     66
30   4.9     55

## Distribution of online and offline orders

In [29]:
# offer online orders
conn = sqlite3.connect("zomato.db")
query = """
SELECT online_order, COUNT(*) AS total_restaurants 
FROM zomato_cleaned 
GROUP BY online_order;
"""
df_online_order = pd.read_sql(query, conn)
print(df_online_order)

   online_order  total_restaurants
0             0              21244
1             1              30428

## Distribution of provide table booking and does not provide table booking

In [31]:
# offer table booking
conn = sqlite3.connect("zomato.db")
query = """
SELECT book_table, COUNT(*) AS total_restaurants 
FROM zomato_cleaned 
GROUP BY book_table;
"""
df_book_table = pd.read_sql(query, conn)
print(df_book_table)

   book_table  total_restaurants
0           0              45223
1           1               6449

## Top 10 dishes

In [33]:
# top 10 dishes
conn = sqlite3.connect("zomato.db")
query = """
SELECT dish_liked, COUNT(*) AS occurrences 
FROM zomato_cleaned 
WHERE dish_liked != 'Not Available'  
GROUP BY dish_liked 
ORDER BY occurrences DESC 
LIMIT 10;
"""
df_dishes = pd.read_sql(query, conn)
print(df_dishes)

         dish_liked  occurrences
0           Biryani          182
1   Chicken Biryani           73
2    Friendly Staff           69
3           Waffles           68
4           Paratha           57
5       Masala Dosa           56
6  Rooftop Ambience           42
7            Coffee           42
8             Pizza           38
9           Burgers           33

## Most common cuisine by each city

In [35]:
# most common cuisine in each city by counting the occurrences of each cuisine
conn = sqlite3.connect("zomato.db")
query = """
SELECT city, cuisine, COUNT(*) AS total_restaurants
FROM (
    SELECT city, TRIM(value) AS cuisine
    FROM zomato_cleaned, 
    json_each('["' || REPLACE(cuisines, ', ', '","') || '"]')
)
GROUP BY city, cuisine
ORDER BY city, total_restaurants DESC;
"""
df_city_best_cuisine = pd.read_sql(query, conn)
print(df_city_best_cuisine)

            city       cuisine  total_restaurants
0            BTM  North Indian               1400
1            BTM       Chinese               1034
2            BTM     Fast Food                548
3            BTM  South Indian                478
4            BTM       Biryani                430
...          ...           ...                ...
2153  Whitefield       African                  2
2154  Whitefield      Nepalese                  1
2155  Whitefield      Lucknowi                  1
2156  Whitefield      Lebanese                  1
2157  Whitefield    Bubble Tea                  1

[2158 rows x 3 columns]

## Most and least preferred meal type

In [37]:
# preferred meal type
conn = sqlite3.connect("zomato.db")
query = """
SELECT type, COUNT(*) AS count  
FROM zomato_cleaned  
GROUP BY type  
ORDER BY count DESC;
"""
df_pref_meal_type = pd.read_sql(query, conn)
print(df_pref_meal_type)

                 type  count
0            Delivery  25917
1            Dine-out  17765
2            Desserts   3592
3               Cafes   1722
4  Drinks & nightlife   1101
5              Buffet    878
6       Pubs and bars    697

In [38]:
# close database connection
conn.close()
print("Database connection closed.")

Database connection closed.